@charset "utf-8";

.page-title {
  display: flex;
  justify-content: flex-start;
}

.article__write-information {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.article input {
  display: flex;
  justify-content: flex-start;
}

.article__btn-box {
  display: flex;
  justify-content: end;
  /* padding: 2px; */
}
.Modify,
.delete,
.submit {
  background-color: var(--main-color-yel);
  width: 60px;
  height: 25px;
  margin: 5px 0 10px 5px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.article__title {
  border-bottom: 1px solid black;
}

.article__file {
  width: 10px;
  height: 4px;
}

.bt_se {
  display: flex;
  justify-content: end;
}

.container {
  padding: 10px;
}

#uncontent {
  width: 40vw;
  height: 20px;
}

#ucontent {
  width: 80vw;
  height: 500px;
}


/* footer{
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: 5vw;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content a{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 5rem;
  color: #fff;
}



.footer-content span{
  color: var(--main-color-yel);
}
.footer-content p{
  max-width: 500px;
  margin-top: 40px ;
  line-height: 28px;
  font-size: 14px;
  color: #111;
  
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #111;
  border: 1.1px solid black;
  padding: 5px;
  border-radius: 50%;
}

.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

.footer-menu{
  margin-bottom: 20px;
}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{
  color: #cfd2d6;
  border: 1.3px solid white;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 15px;
}
.footer-menu ul li a:hover{
  color: var(--main-color-yel);
}
.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
  text-align: center;
}
.footer-bottom p{
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  font-weight: bold;
}
.footer-bottom p a{
  color: var(--main-color-yel);
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
@media (max-width:500px) {
  .footer-menu ul{
    display: inline;
  }
  .footer-menu ul li{
    margin-bottom: 20px;
  }
} */