<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/844acb7e4d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/notice/notice board-main.css">
  <link rel="stylesheet" href="/css/common/common.css">
  <title>GREAT 공지사항 보기글</title>
</head>

<body>

<div class="wrapper">
  <header class="header container">
    <nav class="top-menu content">
      <a href="" class="top-menu__name">관리자</a>
      <a href="" class="top-menu__logout">로그아웃</a>
      <a href="" class="top-menu__cs">고객센터</a>
    </nav>
    <div class="logo content"><a href="">GR<span>EAT</span></a></div>
    <nav class="bottom-menu content">
      <div class="category">
        <ul>
          <li class="food-category">업종별 카테고리
            <ul>
              <li><a href="">한식</a></li>
              <li><a href="">중식</a></li>
              <li><a href="">일식</a></li>
              <li><a href="">양식</a></li>
              <li><a href="">아시안식</a></li>
              <li><a href="">분식</a></li>
              <li><a href="">도시락</a></li>
              <li><a href="">카페/디저트</a></li>
            </ul>
          </li>
          <li class="region-category">지역별 카테고리
            <ul>
              <li><a href="">남구</a></li>
              <li><a href="">동구</a></li>
              <li><a href="">북구</a></li>
              <li><a href="">중구</a></li>
              <li><a href="">울주군</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="search">
        <input type="text" class="search__search-box" placeholder="  검색어를 입력하세요.">
        <a href="" class="search__search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
    </nav>
  </header>
  <main class=" main-container">
    <form class="notice__board" method="get" th:object="${listForm}">
      <div class="notice-title width--800px">
        <h3><i class="bar"></i>공지사항</h3>
      </div>
      <!-- notice-board__list area -->
      <div id="notice-board__list">
        <div class="container">
          <table class="notice-board__table">
            <thead>
            <tr>
              <th></th>
              <th>번호</th>
              <th>제목</th>
              <th>등록일</th>
              <th>작성자</th>
              <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice :${list}">
              <td><input type="checkbox" class="check"></td>
              <td class="noticeId" th:text="${listForm.noticeId}">5</td>
              <th:block class="noticeTitle"><a onclick="" href="#" th:text="${listForm.title}"></a></th:block>
              <td class="noticeUdate" th:text="${listForm.udate}">2022.08.08</td>
              <td th:text="${listForm.write}">관리자</td>
              <td th:text="${listForm.count}">10</td>
            </tr>

            </tbody>
          </table>
          <div class="check__del">
            <input type="checkbox" name="" id="allChk"><span>전체선택</span>
          </div>
          <div class="btn__content">
            <button type="button" id="post__text-btn">글쓰기</button>
            <button type="button" onclick="button_event();" class="btn__text">삭제</button>
          </div>
          <div class="text__center">
            <ul class="pagination">
              <li><a href="">처음</a></li>
              <li><a href="">이전</a></li>
              <li><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="">4</a></li>
              <li><a href="">5</a></li>
              <li><a href="">다음</a></li>
              <li><a href="">마지막</a></li>
            </ul>
          </div>
          <!-- notice-board__search  -->
          <div class="notice-board__search">
            <div class="notice-board__search-box">
              <div class="notice-board__search-setting">
                <select name="searchType" id="searchType">
                  <option th:value="titleOrContent">제목+내용</option>
                  <option th:value="title">제목</option>
                  <option th:value="write">작성자</option>
                </select>
              </div>
              <div class="notice-board__search-keyword">
                <input type="text" id="keyword" name="keyword"><a href="" class="search__search-icon">
                <button><i class="fa-solid fa-magnifying-glass">검색</i></button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
</form>
</main>
<!--Basic structure of footer-->
<footer class="footer">
  <!--The main area of the footer -->
  <div class="footer-content">
    <a href="">GR<span>EAT</span></a>
    <p>이 페이지는 울산지역의 한정으로 만들어진 사이트입니다. 서비스를 이용하시는 모든 회원분들 이용에 감사드립니다. 더더욱 발전하는 GREAT이 되겠습니다. </p>
    <!--Footer's social icon-->
    <ul class="socials">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
    </ul>
    <p>GREAT센터 365일 오전 10시 - 오후 6시</p>
    <!-- Footer's menu item-->
    <div class="footer-menu">
      <ul class="f-menu">
        <li><a onclick="location.href='notice board-main.html'" href="">Home</a></li>
        <li><a onclick="location.href='notice board-view.html'" href="">Join</a></li>
        <li><a onclick="location.href='notice board-view.html'" href="">Order</a></li>
        <li><a onclick="location.href='notice board-main.html'" href="">Notice</a></li>
      </ul>
    </div>
  </div>
  <!--Copyright Area-->
  <div class="footer-bottom">
    <p>Design By - <a href="#">365 Team Project</a></p>
    <p>tell :<a href="">1501-1501</a></p>
  </div>
</footer>
</div>
<script>
    const $postBtn = document.getElementById('post__text-btn');
    $postBtn.addEventListener('click', e => {
      location.href = '/notice/write';
    });

    const allChkClick_h = e => {
      console.log(`click : ${e.target}`);

      const $choose = document.querySelectorAll('.notice-board__table input[type=checkbox]')
      console.log($choose);


      $choose.forEach($choose => $choose.checked = e.target.checked ? true : false);
    }
    document.getElementById('allChk').addEventListener('click', allChkClick_h);

    function button_event() {
      if (confirm("정말 삭제하시겠습니까??") == true) {    //확인
        document.form.submit();
      } else {   //취소
        return;
      }
    }



</script>
</body>
</html>